@import url(https://fonts.cdnfonts.com/css/br-shape);
@import url(https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/ChulabhornLikitText/ChulabhornLikitText.css);

.bt4-mset {
    width: 85%; 
    margin: 5vw auto; 
    display: flex; 
    gap: 1vw; 
    justify-content: space-between; 
    color: black; 
    font: 1vw BR Shape, Chulabhorn Likit Text; 
    line-height: 1.4;
}

.bt4-setl {
    width: 50%;
}

.bt4-song {
    width: auto; 
    box-sizing: border-box; 
    background: white; 
    border-radius: 8px; 
    padding: 1vw; 
    display: flex; 
    gap: 1vw; 
    justify-content: space-between; 
    position: relative;
}

.bt4-simg {
    width: 25%; 
    aspect-ratio: 1/1; 
    border-radius: 5px; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bt4-sinfo {
    margin: auto 0px; 
    width: 75%; 
    font-size: 1vw; 
    line-height: 1.1;
}

.bt4-stt {
    font-weight: bold; 
    font-size: 1.4vw; 
    margin-bottom: 0.3vw;
}

.bt4-dec {
    position: absolute; 
    width: 8.5%; 
    aspect-ratio: 1/1; 
    border-radius: 100%; 
    background: var(--accent); 
    top: -0.7vw; 
    left: -0.7vw;
}

.bt4-abt {
    width: fit-content; 
    box-sizing: border-box; 
    padding: 0.3vw 0.7vw; 
    color: white; 
    background: var(--accent); 
    border-radius: 8px; 
    position: absolute; 
    top: -1vw; 
    right: -0.7vw; 
    font-size: 1.1vw; 
    font-weight: bold; 
    text-transform: uppercase;
}

.bt4-iframe {
    margin-top: 1vw; 
    width: auto; 
    box-sizing: border-box; 
    padding: 1vw; 
    background: white; 
    border-radius: 8px; 
}

.bt4-box {
    margin-top: 1vw; 
    width: auto; 
    box-sizing: border-box; 
    padding: 1vw; 
    background: white; 
    border-radius: 8px; 
    text-align: center; 
    position: relative;
}

.bt4-ction {
    position: absolute; 
    width: 8.5%; 
    aspect-ratio: 1/1; 
    border-radius: 100%; 
    background: url(https://i.imgur.com/1HfpIhG.png) center/62% no-repeat, var(--accent); 
    bottom: -0.7vw; 
    right: -0.7vw; 
    transform: rotate(12deg);
}

.bt4-setr {
    width: 50%; 
    height: 100%; 
    border-radius: 8px; 
    background: white;
    position: relative;
}

.bt4-banner {
    width: auto; 
    border-radius: 8px 8px 0px 0px; 
    aspect-ratio: 3/1; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bt4-img {
    width: 28%; 
    aspect-ratio: 1/1; 
    border-radius: 100%; 
    margin: -4vw auto 0px auto; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bt4-stext {
    text-align: center; 
    box-sizing: border-box; 
    padding: 1vw 2vw 2vw 2vw;
}

.bt4-name {
    font-size: 1.4vw; 
    font-weight: bold;
    color: var(--accent);
}

.bt4-content {
    margin-top: 1vw; 
    height: 11.4vw; 
    overflow-y: scroll; 
    scrollbar-width: none; 
    text-align: justify; 
    -webkit-mask-image: linear-gradient(0deg, transparent 0%, black); 
    mask-image: linear-gradient(0deg, transparent 0%, black); 
    box-sizing: border-box; 
    padding-bottom: 3vw;
}

.bt4-auxbetty {
    font-size: 0.8vw; 
    position: absolute; 
    bottom: 0px; 
    right: -1.4vw; 
    writing-mode: vertical-lr; 
    color: white; 
    opacity: 25%;
}