@import url('https://fonts.googleapis.com/css2?family=Itim&family=Single+Day&display=swap');

:root {
    --fwc: #000;
    --fwbg: #e8ded4; 
}

[border="green"] {
    --fwbd: url(https://i.imgur.com/21AcCPd.png);
}

[border="red"] {
    --fwbd: url(https://i.imgur.com/2AAVuB8.png);
}

.fw2024-ii {
    width: auto; 
    aspect-ratio: 1/1; 
    border-radius: 10px; 
    margin-bottom: 1vw; 
    background: var(--fwp) center/cover;
}

.fw2024-b {
    width: 80%; 
    margin: 2vw auto; 
    font: 1.2vw Single Day, Itim; 
    color: var(--fwc); 
    line-height: 1.4;
}

.fw2024-st {
    width: auto; 
    display: flex; 
    gap: 1vw; 
    align-items: center;
}

.fw2024-i {
    width: 7.5%; 
    aspect-ratio: 1/1; 
    background: var(--fwi) center/cover; 
    border-radius: 100%;
}

.fw2024-tt {
    width: fit-content; 
    color: white; 
    line-height: 1.2; 
    font-size: 1.9vw;
}

.fw2024-n {
    color: #666; 
    font-size: 1.3vw;
}

.fw2024-sf {
    margin-top: 2vw; 
    width: auto; 
    display: flex; 
    gap: 1vw;
}

.fw2024-bx {
    background: var(--fwbg); 
    width: auto; 
    border: 12px solid transparent; 
    border-image: var(--fwbd) 58 round; 
    border-radius: 25px; 
    box-sizing: border-box; 
    padding: 1vw; 
    margin-bottom: 1vw;
}

.fw2024-q {
    font-size: 1.6vw; 
    margin-bottom: 0.6vw;
}

.fw2024-l {
    width: auto; 
    border-bottom: 0.3vw dotted var(--fwc); 
    margin-bottom: 1vw; 
    opacity: 26%;
}
