@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Cinzel:wght@400..900&display=swap');

:root {
    --lyobelle-tc: black;
    --lyb-rpt: #705a44;
    --lyb-bg: #ddd3ca;
    --lyb-tsd: #d4beb7;
    --lyb-acc: #d9c0b7;
}

#lyblink a {
    color: #bba084;
}

#lyblink a:hover {
    color: #705a44;
}

[flower="daisy"] {
    --lyobelle-favflower: url(https://i.imgur.com/yc1lwVj.png);
}

[flower="roselle"] {
    --lyobelle-favflower: url(https://i.imgur.com/ShNqyEl.png);
}

[flower="orchid"] {
    --lyobelle-favflower: url(https://i.imgur.com/vxmfsIL.png);
}

[flower="gardenia"] {
    --lyobelle-favflower: url(https://i.imgur.com/vZE3P00.png);
}

[flower="rose"] {
    --lyobelle-favflower: url(https://i.imgur.com/5WinOmi.png);
}

[flower="chrysanthemum"] {
    --lyobelle-favflower: url(https://i.imgur.com/4URlcn9.png);
}

[flower="cosmo"] {
    --lyobelle-favflower: url(https://i.imgur.com/OXGpbEc.png);
}

[flower="chamomile"] {
    --lyobelle-favflower: url(https://i.imgur.com/rhbisS5.png);
}

[flower="white-hibiscus"] {
    --lyobelle-favflower: url(https://i.imgur.com/pO1OWQl.png);
}

[flower="hibiscus"] {
    --lyobelle-favflower: url(https://i.imgur.com/rqBTKFH.png);
}

[flower="lotus"] {
    --lyobelle-favflower: url(https://i.imgur.com/Lw0eNbZ.png);
}

[flower="daffodil"] {
    --lyobelle-favflower: url(https://i.imgur.com/3AorVnW.png);
}

[flower="blue-dahlia"] {
    --lyobelle-favflower: url(https://i.imgur.com/TFzy5HX.png);
}

[flower="delphinium"] {
    --lyobelle-favflower: url(https://i.imgur.com/bnCjCTe.png);
}

[flower="sunflower"] {
    --lyobelle-favflower: url(https://i.imgur.com/4YKhCEL.png);
}

[flower="tulip"] {
    --lyobelle-favflower: url(https://i.imgur.com/cJZdxCh.png);
}

[flower="bluebell"] {
    --lyobelle-favflower: url(https://i.imgur.com/4J1rdcW.png);
}

[flower="peony"] {
    --lyobelle-favflower: url(https://i.imgur.com/eCrV2nd.png);
}

[flower="poppy"] {
    --lyobelle-favflower: url(https://i.imgur.com/wUINu0H.png);
}

[flower="pansy"] {
    --lyobelle-favflower: url(https://i.imgur.com/Ivtbief.png);
}

[flower="fairyrose"] {
    --lyobelle-favflower: url(https://i.imgur.com/PGdFFg1.png);
}

[flower="jasmine"] {
    --lyobelle-favflower: url(https://i.imgur.com/Y5Ie8mk.png);
}

[flower="lavender"] {
    --lyobelle-favflower: url(https://i.imgur.com/2Gt1ZCr.png);
}

[flower="lily"] {
    --lyobelle-favflower: url(https://i.imgur.com/tESas8K.png);
}

[flower="jepun"] {
    --lyobelle-favflower: url(https://i.imgur.com/sT4Wh4M.png);
}

[flower="violet"] {
    --lyobelle-favflower: url(https://i.imgur.com/wy6jnuJ.png);
}

[flower="snowdrop"] {
    --lyobelle-favflower: url(https://i.imgur.com/GfPyZek.png);
}

[flower="butterfly-pea"] {
    --lyobelle-favflower: url(https://i.imgur.com/eEfdB8X.png);
}

[flower="iris"] {
    --lyobelle-favflower: url(https://i.imgur.com/CnGCK5i.png);
}

[flower="lily-of-the-valley"] {
    --lyobelle-favflower: url(https://i.imgur.com/GQWLvca.png);
}

[flower="lilac"] {
    --lyobelle-favflower: url(https://i.imgur.com/ReJAl4S.png);
}

.lybs-rbg {
    width: auto; 
    background: url(https://iili.io/FGMiQUl.png) top/100% no-repeat, url(https://iili.io/FGMiLl4.png) bottom/100% no-repeat, url(https://iili.io/FGMibO7.png) center/100% repeat-y; 
    position: relative; 
    box-sizing: border-box; 
    padding: 4vw;
}

.lybs-rct {
    width: auto; 
    padding: 4vw; 
    box-sizing: border-box; 
    background: #ddd3ca; 
    border: 2px solid var(--lyb-rpt); 
    font: 1.15vw Bai Jamjuree; 
    line-height: 1.7; 
    color: var(--lyb-rpt);
}

.lybs-rlg {
    margin: auto; 
    width: 16%; 
    background: url(https://iili.io/K92mBnV.png) center/cover; 
    aspect-ratio: 1/1;
}

.lybs-rn {
    font: 3vw Cinzel; 
    text-align: center; 
    text-shadow: 2px 2px 0px var(--lyb-tsd);
}

.lybs-ruf {
    margin-top: 3vw; 
    width: auto; 
    display: flex; 
    gap: 1.7vw;
}

.lybs-ri {
    width: 37%; 
    height: auto; 
    background: var(--fc); 
    border: 2px solid var(--lyb-rpt);
}

.lybs-rgt {
    font: 1.9vw Cinzel; 
    margin-bottom: 0.8vw; 
    width: fit-content;
}

.lybs-rln {
    width: 100%; 
    margin-top: 0.3vw; 
    height: 1px; 
    background: var(--lyb-rpt);
}

.lybs-rmf {
    width: auto; 
    display: flex; 
    gap: 1.4vw; 
    margin-top: 1.2vw; 
    line-height: 1.4; 
    font-size: 1vw;
}

.lybs-rst {
    font: 1.6vw Cinzel; 
    margin-bottom: 0.8vw; 
    width: fit-content;
}

.lybs-rfw {
    width: 35%; 
    aspect-ratio: 1/1; 
    background: var(--lyobelle-favflower) center/80% no-repeat, #ffffff42; 
    border-radius: 4px; 
    float: right; 
    margin: 0 0 1vw 1vw;
}

.lybs-rbt {
    font: 1.9vw Cinzel; 
    margin-bottom: 0.8vw; 
    width: fit-content; 
    margin-top: 2vw;
}

.lybs-rbi {
    position: absolute; 
    width: 100%; 
    top: 0; 
    left: 0; 
    aspect-ratio: 1920/1080; 
    background: url(https://iili.io/FGMitJ2.png) top/cover; 
    user-select: none; 
    pointer-events: none;
}

.lybs-rbii {
    position: absolute; 
    width: 100%; 
    bottom: 0; 
    left: 0; 
    aspect-ratio: 1920/1080; 
    background: url(https://iili.io/FGMimb9.png) bottom/cover; 
    user-select: none; 
    pointer-events: none;
}

@font-face {
    font-family: 'Jimmy Script';
    src: url('https://dl.dropbox.com/scl/fi/07ix1b11chgjkxsi0d17u/JimmyScript-Rg.otf?rlkey=7bpurwv2teo40yx519hg0ixin') format('treurtype');
    font-weight: normal;
    font-style: normal;
}

.lybs-sm {
    width: 70%; 
    margin: 9vw auto; 
    position: relative;
}

.lybs-uc {
    width: 97%; 
    aspect-ratio: 15/2; 
    mask: url(https://iili.io/KJYryba.png) top/cover; 
    -webkit-mask: url(https://iili.io/KJYryba.png) top/cover; 
    position: relative; 
    z-index: 1; 
    background: var(--stitch); 
    margin: auto;
}

.lybs-sb {
    width: auto; 
    border-radius: 12px; 
    background: var(--lyb-bg); 
    color: var(--lyb-rpt); 
    padding: 9vw 5vw 4vw 5vw; 
    box-sizing: border-box; 
    font: 1.2vw Bai Jamjuree; 
    box-shadow: 0px 0px 20px 0px #00000099; 
    position: relative; 
    z-index: 10;
}

.lybs-su {
    width: auto; 
    aspect-ratio: 100/1; 
    position: relative; 
    z-index: 9;
}

.lybs-si {
    width: 67%; 
    aspect-ratio: 1/1; 
    position: absolute; 
    margin: auto; 
    right: -22%; 
    top: -5000%;
}

.lybs-ss {
    width: auto; 
    aspect-ratio: 708/542; 
    background: url(https://iili.io/KJaOWas.png) center/cover; 
    position: relative;
}

.lybs-fc {
    position: absolute; 
    width: 57%; 
    aspect-ratio: 49/43; 
    top: 15.5%; 
    right: 14%; 
    transform: rotate(8.4deg); 
    background: var(--img);
}

.lybs-bf {
    position: absolute; 
    width: 27%; 
    aspect-ratio: 1/1; 
    background: url(https://iili.io/KJ7rLCl.png) center/cover; 
    top: -3800%; 
    left: -21%;
}

.lybs-fn {
    font: 2.2vw Cinzel; 
    margin-top: -6vw; 
    text-transform: capitalize; 
    position: relative; 
    background: var(--stitch); 
    padding: 0vw 0.8vw; 
    color: var(--lyb-bg); 
    width: fit-content;
}

.lybs-ln {
    font: 3.9vw Jimmy Script; 
    margin: -2.2vw 0 0 2vw; 
    text-shadow: 1px 1px 6px #0000001c; 
    color: var(--stitch); 
    text-transform: capitalize;
}

.lybs-sc {
    margin-top: 2vw; 
    line-height: 1.9; 
    text-align: justify; 
    background: radial-gradient(var(--accent) 0%, transparent 56%);
}

.lybs-sn {
    width: auto; 
    display: flex; 
    justify-content: right; 
    margin: 3vw 0;
}

.lybs-nt {
    width: fit-content; 
    border-radius: 8px; 
    background: var(--lyb-bg); 
    box-shadow: -2px 2px 8px 0px #00000080; 
    padding: 0.4vw 1.8vw; 
    box-sizing: border-box; 
    font-size: 1.05vw;
}

.lybs-if {
    width: 20%; 
    aspect-ratio: 1/1; 
    border-radius: 20px; 
    background: var(--stitch); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 1px solid #121212; 
    position: absolute; 
    z-index: 99; 
    left: 8%; 
    bottom: -4vw;
}

.lybs-i1 {
    width: 86%; 
    aspect-ratio: 1/1; 
    border-radius: 16px; 
    background: var(--item1) center/75% no-repeat, #121212;
}

.lybs-i2 {
    width: 86%; 
    aspect-ratio: 1/1; 
    border-radius: 16px; 
    background: var(--item2) center/75% no-repeat, #121212;
}

.lybs-sl {
    width: 97%; 
    aspect-ratio: 14/2; 
    position: relative; 
    margin: auto; 
    z-index: 1;
}

.lybs-lc {
    width: auto; 
    height: 100%; 
    mask: url(https://iili.io/KJYryba.png) bottom/cover; 
    -webkit-mask: url(https://iili.io/KJYryba.png) bottom/cover; 
    background: var(--stitch);

}


