@import url('https://fonts.cdnfonts.com/css/black-side');
@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/ChulabhornLikitText/ChulabhornLikitText.css');

@keyframes rotate-full {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

@keyframes shake {
    0% { transform: translate(-2px, 0px) rotate(0deg); }
    30% { transform: translate(2px, 0px) rotate(0deg); }
    60% { transform: translate(-2px, 0px) rotate(0deg); }
    100% { transform: translate(2px, 0px) rotate(0deg); }
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animated {
  animation-duration: 60s;
  animation-fill-mode: both;
  & .infinite {
    animation-iteration-count: infinite;
  }
}

.rotate-full {
  animation: infinite-spinning 1s infinite linear;
}

.shake {
  animation: shake 0.3s infinite linear;
}

.wmc-text {
  font: 16px Chulabhorn Likit Text; 
  color: white; 
  width: 60%; 
  text-align: justify; 
  margin: 40px auto 60px auto;
}

.wmc-note {
  text-align: right; 
  font-size: 14px;
}

.wmc-gp {
  width: 51.3%; 
  aspect-ratio: 1/1; 
  background: url(https://i.imgur.com/qR6QqVx.png) center/cover no-repeat; 
  position: absolute; 
  left: 25%; 
  top: 34%; 
  border-radius: 100%; 
  opacity: 70%;
}

.wmc-name {
  font: 25px Black Side; 
  color: #000; 
  position: absolute; 
  bottom: 5px; left: 12px;
}

.wmc-mc {
  width: 230px; 
  aspect-ratio: 736/1000; 
  margin: 60px auto 0px auto; 
  background: url(https://i.imgur.com/PqCCHrc.png) center/cover no-repeat; 
  position: relative;
}

.wmc-sp {
  width: 51.3%; 
  aspect-ratio: 1/1; 
  position: absolute; 
  left: 25%; 
  top: 34%; 
  border-radius: 100%;
}